# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science.
* List commonly used libraries in data science.
* List development environment open source tools used in data science.
* Create an unordered list

Some of popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Dplyr

|Data Science Tools|
|------------------|
|JupyterLab|
|VS Code|
|GoogleColab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#this a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Roy Antony Chacon Garcia